<% @items.each do |i| %>
<div class="modal fade" id="item-<%= i.id %>" tabindex="-1" role="dialog" aria-labelledby="label-<%= i.id %>" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="label-<%= i.id %>">ITEM TITLE?</h4>
      </div>
      <div class="modal-body">

        
        <strong><%= i.title %></strong>

        <br><br>

        <% i.tags.each do |t| %>
            #<%= t.name %>
        <% end %>

        <br><br>

        <%= i.description %><br><br>
        <%= image_tag i.image, class: 'image-test' %>

        <br><br>

        <!-- Comments -->
    <div class="main-area" style="border: 2px solid grey">
        <% i.comments.each do |c| %>
            <strong><%= c.user.username %></strong>:
            <%= c.comment %><br>
            <%= link_to "x", comment_path(c.id), method: :delete %> <br>
        <% end %>
    </div>
        <br><br>

        <!-- Comment Form -->
        
        <%= form_for [i, @comment] do |f| %>
        <%= f.text_area :comment, placeholder: 'comment goes here', class: 'form-control' %>

         <button type="submit" class="btn btn-primary">Submit</button>
        <% end %>


        <br><br>

        
        <%= button_to "Remove This Item", item_path(i.id), method: :delete, class: "btn btn-danger" %>


      </div>
    </div>
  </div>
</div>
<% end %>