<% @items.each do |i| %>
<div class="modal fade" id="item-<%= i.id %>" tabindex="-1" role="dialog" aria-labelledby="label-<%= i.id %>" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="label-<%= i.id %>"><%= i.title %></h4>
      </div>
      <div class="modal-body">



        <% i.tags.each do |t| %>
            #<%= t.name %>
        <% end %>

        <br><br>

        <%= i.description %><br><br>
        <%= link_to 'View This Item', i.url, target: '_blank' %>
        <br><br>

        <%= image_tag i.image, class: 'image-test' %>


        <br><br>

        <!-- Comments -->
    <div class="main-area">
        <% i.comments.each do |c| %>
            <strong><%= c.user.username %></strong>:
            <%= c.comment %>
            
                <%= link_to comment_path(c.id), method: :delete do %>
                    <%= fa_icon 'times', class: "times_icon" %>
                <% end %><br>
                
        <% end %>
    </div>

        <br><br>

        <!-- Comment Form -->
        
        <%= form_for [i, @comment] do |f| %>
            <%= f.text_area :comment, placeholder: 'comment goes here', class: 'form-control' %>
            <button type="submit" class="btn btn-primary">Submit</button>
        <% end %>


        <br><br>

    <div class="edit_buttons">

        <% if current_user == i.user %>
            <%= button_to "Remove This Item", item_path(i.id), method: :delete, class: "btn btn-danger" %>

            <button type="button" class="btn btn-info" data-dismiss="modal" data-toggle="modal" data-target="#item-edit-<%= i.id %>">Edit This Item</button>
        <% end %>

    
    </div>

      </div>
    </div>
  </div>
</div>
<% end %>