<h1>users#index</h1>

<br>

<% @items.each do |i| %>

    <% if @items.index(i) == 0 || (@items.index(i)+1) % 4 == 0 %>
       <div class="row">
    <% end %>

    
    <div class="col-md-3">
        <strong><%= i.title %></strong>

        <br><br>

        <% i.tags.each do |t| %>
            #<%= t.name %>
        <% end %>

        <br><br>

        <%= i.description %><br><br>
        <%= image_tag i.image, class: 'image-test' %>

        <br><br>
        <% i.comments.each do |c| %>
            <%= c.comment %>
        <% end %>

        <br><br>
        <%= form_for [i, @comment] do |f| %>

            <%= f.text_area :comment, placeholder: 'comment goes here' %>
            <%= f.submit %>

        <% end %>


        <br><br>

    </div>

    <% if (@items.index(i)+1) % 4 == 0 %>
        </div>
        <hr>
    <% end %>

<% end %>
