
<!-- test -->
<% @users.each do |u| %>
<%= u.username %>
    <!-- Collection -->
<% u.items.each do |i| %>

    <!-- Collection Row -->
    <% if u.items.index(i) == 0 || (u.items.index(i)+1) % 4 == 0 %>
       <div class="row">
    <% end %>

    <!-- Items -->
    <div class="col-md-3">
        <strong><%= i.title %></strong>

        <br><br>

        <% i.tags.each do |t| %>
            #<%= t.name %>
        <% end %>

        <br><br>

        <%= i.description %><br><br>
        <%= image_tag i.image, class: 'image-test' %>

        <br><br>
        
        <!-- Comments -->
        <% i.comments.each do |c| %>
            <strong><%= c.user.username %></strong>:
            <%= c.comment %><br>
        <% end %>

        <br><br>

 
        


        <br><br>

    </div>

    <!-- Collection Row End -->
    <% if (u.items.index(i)+1) % 4 == 0 %>
        </div>
        <hr>
    <% end %>

<% end %>
<% end %>
<!-- test -->
<!-- Modals -->
