<div data-ng-if="tagQuery.name != ''">
    <!-- Tag Query Results -->
    <div data-ng-repeat="tag in tags | filter:tagQuery | orderBy:'tag.name'">
        <h1>#{{tag.name}}</h1>
        <div class="row" data-ng-repeat="item in (tag.items.length/4 | array)">
            <div class="col-md-3" data-ng-repeat="item in tag.items.slice(4*$index, 4*$index + 4)">
                <br>
                <strong>{{item.title}}</strong>
                <br><br>

                <div data-ng-repeat="itemTag in item.tags" style="display: inline;"> <!-- give it a class for display: inline; -->
                    #{{itemTag.name}}
                </div> <!-- end item tags -->

                <br><br>
                {{item.description}}
                <br><br>
                <img data-ng-src="{{item.image}}" class="image-test">
            </div> <!-- end columns -->
        </div> <!-- end rows -->
        <br>
        <hr>
    </div> <!-- end tag query -->
</div>


<div data-ng-if="tagQuery.name == ''">
<h1>Collection</h1>
<br>
<!-- Collection -->
<% @items.each do |i| %>

    <!-- Collection Row -->
    <% if @items.index(i) == 0 || (@items.index(i)+1) % 4 == 0 %>
       <div class="row">
    <% end %>

    <!-- Items -->
    <div class="col-md-3">
        <strong><%= i.title %></strong>

        <br><br>

        <% i.tags.each do |t| %>
            #<%= t.name %>
        <% end %>

        <br><br>

        <%= i.description %><br><br>
        <%= image_tag i.image, class: 'image-test' %>

        <br><br>

        <!-- Comments -->
        <% i.comments.each do |c| %>
            <strong><%= c.user.username %></strong>:
            <%= c.comment %><br>
        <% end %>

        <br><br>

        <!-- Comment Form -->
        <%= form_for [i, @comment] do |f| %>
            <%= f.text_area :comment, placeholder: 'comment goes here' %>
            <%= f.submit %>
        <% end %>


        <br><br>

    </div>

    <!-- Collection Row End -->
    <% if (@items.index(i)+1) % 4 == 0 %>
        </div>
    <% end %>

<% end %>
</div>
