<h1>static#index</h1>

<br>

<div data-ng-if="tagQuery.name != ''">
<!-- Tag Query Results -->
    <div data-ng-repeat="tag in tags | filter:tagQuery | orderBy:'tag.name'">

    <h3>#{{tag.name}}</h3>

        <div class="row">
            <div data-ng-repeat="item in tag.items">

                
                    <div class="col-md-3">
                        <strong>{{item.title}}</strong>
                        <br><br>

                        <div data-ng-repeat="itemTag in item.tags" style="display: inline;">
                            #{{itemTag.name}}
                        </div> <!-- end item tags -->

                        <br><br>
                        {{item.description}}
                        <br><br>
                        <img data-ng-src="{{item.image}}">
                    </div>
                

            </div> <!-- end items -->
        </div> <!-- end row -->
        <hr>

    </div> <!-- end tags -->

    <br>

</div>







<div data-ng-if="tagQuery.name == ''">
<!-- Collection -->
<% @items.each do |i| %>

    <!-- Collection Row -->
    <% if @items.index(i) == 0 || (@items.index(i)+1) % 4 == 0 %>
       <div class="row">
    <% end %>

    <!-- Items -->
    <div class="col-md-3">
        <strong><%= i.title %></strong>

        <br><br>

        <% i.tags.each do |t| %>
            #<%= t.name %>
        <% end %>

        <br><br>

        <%= i.description %><br><br>
        <%= image_tag i.image, class: 'image-test' %>

        <br><br>

        <!-- Comments -->
        <% i.comments.each do |c| %>
            <strong><%= c.user.username %></strong>:
            <%= c.comment %><br>
        <% end %>

        <br><br>

        <!-- Comment Form -->
        <%= form_for [i, @comment] do |f| %>
            <%= f.text_area :comment, placeholder: 'comment goes here' %>
            <%= f.submit %>
        <% end %>


        <br><br>

    </div>

    <!-- Collection Row End -->
    <% if (@items.index(i)+1) % 4 == 0 %>
        </div>
        <hr>
    <% end %>

<% end %>
</div>
