<h1>items#add</h1>

<div id="myCarousel" class="carousel" data-interval="false">  
  <!-- Carousel items -->  
  <div class="carousel-inner"  style="height: 250px; width: 250px; margin: 0 auto">  
    <div class="active item">Please Select an Image</div>

    <% @item.images.each do |i| %>

    <div class="item">
        <%= image_tag(i) %>
    </div>

    <% end %>

</div>  
<!-- Carousel nav -->  
<a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>  
<a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>  
</div>



<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1">
        <%#= image_tag(i) %>
    </li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner">
    <div class="item active">
      <img src="..." alt="...">
      <div class="carousel-caption">
        ...
    </div>
</div>
<div class="item">
  <img src="..." alt="...">
  <div class="carousel-caption">
    ...
</div>
</div>
...
</div>

<!-- Controls -->
<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <%= fa_icon 'chevron-left' %>
</a>
<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <%= fa_icon 'chevron-right' %>
</a>
</div>





<h3><%= @item.title %></h3>

Description: <%= @item.description %><br><br>
URL: <%= @item.url %><br><br>
Image: <strong>(NOTE: item does not save if no image is present)</strong>
<br><%= image_tag(@item.image) %><br>


<br>

<%= form_for :item do |f| %>

<%= fields_for @tag do |ff| %>
<% ff.text_field :name, placeholder: 'Tags' %>
<% end %>
<% if current_user.categories.exists? %>
<%= fields_for @item_category do |ff| %>
<%= ff.select(:category_id, @category_options, { :prompt => "Select a Category" }) %> 
<% end %>
<% end %>

<%= hidden_field(:item, :title) %>
<%= hidden_field(:item, :description) %>
<%= hidden_field(:item, :url) %>
<%= hidden_field(:item, :image) %>

<%= f.submit "Save Item" %>
<% end %>

<br>
<br>
<br>