<%# @item.images.each do |i| %>

    <%#= image_tag(i) %>

<%# end %>


<div id="myCarousel" class="carousel" data-interval="false">  
  <!-- Carousel items -->  
  <div class="carousel-inner"  style="height: 250px; width: 250px; margin: 0 auto">  
    <div class="active item">Please Select an Image</div>

    <% @item.images.each do |i| %>

    <div class="item">
        <%= image_tag(i) %>
    </div>

    <% end %>

</div>  
  <!-- Carousel nav -->  
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>  
  <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a>  
</div>






<h3><%= @item.title %></h3>

Description: <%= @item.description %><br><br>
URL: <%= @item.url %><br><br>
Image: <strong>(NOTE: item does not save if no image is present)</strong>
<br><%= image_tag(@item.image) %><br>


<br>

<%= form_for :item do |f| %>

    <%= fields_for @tag do |ff| %>
        <% ff.text_field :name, placeholder: 'Tags' %>
    <% end %>
    <% if current_user.categories.exists? %>
    <%= fields_for @item_category do |ff| %>
	    <%= ff.select(:category_id, @category_options, { :prompt => "Select a Category" }) %> 
    <% end %>
    <% end %>
    
    <%= hidden_field(:item, :title) %>
    <%= hidden_field(:item, :description) %>
    <%= hidden_field(:item, :url) %>
    <%= hidden_field(:item, :image) %>

    <%= f.submit "Save Item" %>
<% end %>

<br>
<br>
<br>