<h3><%= @item.title %></h3>

Description: <%= @item.description %><br><br>
URL: <%= @item.url %><br><br>
Image: <strong>(NOTE: item does not save if no image is present)</strong>
<br><%= image_tag(@item.image) %><br>


<br>

<%= form_for :item do |f| %>

    <%= fields_for @tag do |ff| %>
        <% ff.text_field :name, placeholder: 'Tags' %>
    <% end %>

    <%= f.select(:category_id, @category_options) %> 
    
    <%= hidden_field(:item, :title) %>
    <%= hidden_field(:item, :description) %>
    <%= hidden_field(:item, :url) %>
    <%= hidden_field(:item, :image) %>

    <%= f.submit "Save Item" %>
<% end %>

<br>
<br>
<br>