<h1>items#add_test</h1>

<br>
<br>

<!-- OG:IMAGE AVAILABLE -->
<% if @item.image %>
    
    <!-- FASTIMAGE AVAILABLE for OG:IMAGE -->
    <% if FastImage.size(@item.image) %>

        <!-- OG:IMAGE >= 150px -->
        <% if FastImage.size(@item.image)[0] >= 150 && FastImage.size(@item.image)[1] >= 150  %>

            <h1>OG:IMAGE- SIZE IS GOOD</h1>
            <%= image_tag @item.image %><br>

        <!-- OG:IMAGE < 150px -->
        <% else %>

            <h1>OG:IMAGE - SIZE IS TOO SMALL</h1>
            <!-- ARRAY OF IMAGES -->
            <% @item.images.each do |i| %>
                <!-- FASTIMAGE AVAILABLE -->
                <% if FastImage.size(i) %>
                    <!-- ONLY IMAGES > 150px -->
                    <% if FastImage.size(i)[0] >= 150 && FastImage.size(i)[1] >= 150 %>
                        <%= image_tag i %>
                    <% end %>
                <% end %>   
            <% end %>

        <% end %>

    <!-- FASTIMAGE UNAVAILABLE for OG:IMAGE -->
    <% else %>

        <!-- PUSH THIS IMAGE TO ITEM ARRAY -->
        <!-- <h1>OG:IMAGE - original</h1> -->
        <%#= image_tag @item.image %>

        <!-- ARRAY OF IMAGES -->
        <% @item.images.each do |i| %>
            <!-- FASTIMAGE AVAILABLE -->
            <% if FastImage.size(i) %>
                <!-- ONLY IMAGES > 150px -->
                <% if FastImage.size(i)[0] >= 150 && FastImage.size(i)[1] >= 150 %>
                    <%= image_tag i %>
                <% end %>
            <% end %>
        <% end %>

    <% end %>

<!-- OG:IMAGE UNAVAILABLE -->
<% else %>

    <h1>No OG</h1>

    <!-- ARRAY OF IMAGES -->
    <% @item.images.each do |i| %>
        <!-- IMAGE URL > 350 CHARS -->
        <% if i.size > 350 %>
            <%= image_tag i %><br>
        <% end %>
    <% end %>

<% end %>





<h3><%= @item.title %></h3>

Description: <%= @item.description %><br><br>
URL: <%= @item.url %><br><br>
Image: <strong>(NOTE: item does not save if no image is present)</strong>


<br>

<%= form_for :item do |f| %>

<%= fields_for @tag do |ff| %>
<% ff.text_field :name, placeholder: 'Tags' %>
<% end %>
<% if current_user.categories.exists? %>
<%= fields_for @item_category do |ff| %>
<%= ff.select(:category_id, @category_options, { :prompt => "Select a Category" }) %> 
<% end %>
<% end %>

<%= hidden_field(:item, :title) %>
<%= hidden_field(:item, :description) %>
<%= hidden_field(:item, :url) %>
<%= hidden_field(:item, :image) %>

<%= f.submit "Save Item" %>
<% end %>

<br>
<br>
<br>