<div class="row">

    <div class="col-md-5">

        <h1><%= @meta.title %></h1>

        <%= @meta.description %>

        <br><br>

        <%= form_for @item do |f| %>

            <%= fields_for @tag do |ff| %>
                <% ff.text_field :name, placeholder: 'Tags', class: 'form-control' %>
            <% end %>

            <% if current_user.categories.exists? %>
                <%= f.select(:category_id, @category_options, { :prompt => "Select a Category" }) %> 
            <% end %>

            <%= f.hidden_field :title, value: @meta.title %>
            <%= f.hidden_field :description, value: @meta.description %>
            <%= f.hidden_field :url, value: @meta.url %>

            <!-- Update to have user be able to select from 4 images -->
            <%= f.hidden_field :image, value: @item_image.first %>

            <br>

            <%= f.submit 'Save Item', class: 'btn btn-primary' %>

        <% end %>

    </div>

    <div class="col-md-7">

        <br>

        <% @item_image.each do |i| %>
            <!-- Update to have user be able to select from 4 images -->
            <% if @item_image.index(i) < 1 %>
                <%= image_tag i, class: 'item-image' %>
            <% end %>
        <% end %>

    </div>

</div>

<br>
