<h1>items#list</h1>

<br>

<!-- Collection -->
<% @items.each do |i| %>

    <!-- Collection Row -->
    <% if @items.index(i) == 0 || (@items.index(i)+1) % 4 == 0 %>
       <div class="row">
    <% end %>

    <!-- Items -->
    <div class="col-md-3">
        <strong><%= i.title %></strong>

        <br><br>

        <% i.tags.each do |t| %>
            #<%= t.name %>
        <% end %>

        <br><br>

        <%= i.description %><br><br>
        <%= image_tag i.image, class: 'image-test' %>

        <br><br>

        <!-- Comments -->
        <% i.comments.each do |c| %>
            <strong><%= c.user.username %></strong>:
            <%= c.comment %><br>
        <% end %>

        <br><br>

        <!-- Comment Form -->
        <%= form_for [i, @comment] do |f| %>
            <%= f.text_area :comment, placeholder: 'comment goes here' %>
            <%= f.submit %>
        <% end %>


        <br><br>

    </div>

    <!-- Collection Row End -->
    <% if (@items.index(i)+1) % 4 == 0 %>
        </div>
        <hr>
    <% end %>

<% end %>