<h1>new category</h1>

<%= form_for :category do |c| %>
<%= c.text_field :name, placeholder: 'Add a Category' %>

<%= c.submit 'Create Category', class: 'btn btn-default'%>

<% end %>


<br>

<h1>all Categories </h1>

<% @categories.each do |c| %>
<%= link_to c.name, category_path(c.id) %><br>
<%= button_to "X", category_path(c.id), method: :delete %>

<% end %>


