<!-- Modals -->
<%= render 'partials/item_categories' %>
<%= render 'partials/item_categories.edit' %>

<!-- Tag Query Results -->
<%= render 'partials/tag_query' %>

<!-- Collection -->
<div data-ng-if="tagQuery.name == ''">
<h2>InList / <%= current_user.username %> / <%= @category.name %></h2>
<br>
<!-- Collection -->
<% @category.items.each do |i| %>

    <!-- Collection Row -->
    <% if @category.items.index(i) == 0 || (@category.items.index(i)+1) % 4 == 0 %>
       <div class="row">
    <% end %>

    <!-- Items -->
    <div class="col-md-3">
        <div data-toggle="modal" data-target="#item-<%= i.id %>">
            <div class="item-box">
                <%= image_tag i.image, class: 'item-image' %>
            </div>
        </div>
    </div>

    <!-- Collection Row End -->
    <% if (@category.items.index(i)+1) % 4 == 0 %>
        </div>
    <% end %>

<% end %>
</div>
