<!DOCTYPE html>
<html lang="en" data-ng-app="InListApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>InList</title>
        <meta name="description" content="InList Project 3.">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <%= stylesheet_link_tag    "application", media: "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body class="<%= params[:controller] %>_controller" data-ng-controller="InListCtrl">
        
        <!-- Login -->
        <%= render 'partials/login' %>

        <!-- Navbar -->
        <%= render 'partials/navbar' %>
          
        <!-- Content -->
        <div class="container">
            <%= yield %>
        </div>

    </body>
</html>
